@model DataRavilla.Models.Schedule

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScheduleDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScheduleDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScheduleType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScheduleType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.ScheduleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
