@model IEnumerable<DataRavilla.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ScheduleID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ScheduleID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ScheduleID">Delete</a>
        </td>
    </tr>
}
</table>
